{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div id="text">
    <h1>Астероиды</h1>
    <p>
        Астероиды — это твердые каменистые тела, которые вращаются вокруг Солнца.
        Этим они повторяют поведение планет, но не могут называться так из-за своих небольших размеров.
        Они относятся к категории «малых тел Солнечной системы».
        Хотя их там миллионы, их общая масса меньше, чем у Луны.
        Астероиды образовались около 4,6 млрд лет назад, в ранний этап формирования Солнечной системы.
        Тогда будущие планеты переживали стадию «планетезималей».
        В этот период небольшие космические частицы постепенно притягиваются друг к другу,
        повышается температура в центре, за счет чего они плавятся и образуется протопланета.
        Нынешние астероиды — «побочные продукты» того процесса.
        Ученые предполагают, что многие спутники планет — бывшие астероиды,
        которых «захватило» гравитационное поле крупного объекта, заставив вращаться вокруг него.
    </p><br>
    <h2>Крупнейшие группы астероидов</h2>
    <ul>
        <li>«Троянцы» и «греки», которые получили названия в честь героев «Илиады», находятся в «точках Лагранжа». В этих частях космоса гравитационное воздействие планеты и Солнца равноценно. Больше всего «троянцев» и «греков» есть у Юпитера — более 10 тыс. У Нептуна их 30, у Марса — девять, а у Земли и Урана — по одному.</li><br><br>
        <li>«Семейство Хильды» содержит более 1 тыс. похожих на «троянцев» астероидов. Оно находится за главным поясом между орбитами Марса и Юпитера.</li><br><br>
        <li>«Пояс Койпера» расположен на краю Солнечной системы, рядом с Нептуном. Он похож на главный пояс астероидов, но отличается от него размером: в 20 раз шире и в 20–200 раз массивнее. В нем находятся малые тела из воды, аммиака и метана и как минимум четыре карликовые планеты, к которым современная наука причисляет и Плутон.</li><br><br>
    </ul>
    <h2>Самые крупные астероиды. Топ 10:</h2>
    <ol>
        <li>1.Церера, 946 км<br>
        <li>2.Веста, 525 км<br>
        <li>3.Паллада, 512 км<br>
        <li>4.Гигея, 431 км<br>
        <li>5.Интерамния, 326 км<br>
        <li>6.Европа, 315 км<br>
        <li>7.Давида, 289 км<br>
        <li>8.Сильвия, 286 км<br>
        <li>9.Кибела, 273 км<br>
        <li>10.Эвномия, 268 км<br>
    </ol><br>
    <h2>Из чего состоят астероиды</h2>
    <p>По составу астероиды делятся на три широких группы. Класс C (углеродные) состоит из глины и кремния, класс S (каменные) — из силикатов и никель-железа, класс М (железные) — из никель-железа. Помимо этого, астероиды также различаются по плотности. Некоторые представляют собой цельные плотные объекты, тогда как другие больше похожи на дрейфующие груды материалов, состоящие из множества мелких объектов, связанных гравитацией.</p>
    <br>
    <h2>Можно ли спасти Землю от столкновения с астероидом</h2>
    <p>Из множества астероидов, способных причинить непоправимый урон планете, человечество обнаружило и зафиксировало где-то 40% потенциально опасных объектов. Из-за этого всегда есть риск катастрофы, и ученые активно разрабатывают меры безопасности. Например, опыт DART, который прошел в сентябре 2022 года: тогда NASA успешно изменила орбиту астероида, столкнув его с управляемым космическим аппаратом.</p><br>
    <h2>Образование и развитие</h2>
    <p>Астероиды возникают из-за взаимного притяжения газа и пыли, которые вращаются по орбите вокруг звезды. Также астероиды образуются из обломков, которые остались после столкновения двух планет или других астероидов. Данные объекты могут миллионы лет летать по орбите вокруг звезды, и через некоторое время столкнуться с планетой. Возраст астероидов в Солнечной системе около 4,5 млрд лет.</p>
    <br><h2>Рельеф и поверхность. Природные условия</h2>
    <p>Из-за небольшой массы все астероиды имеют неправильную форму. На поверхности астероидов много кратеров от частых столкновений с другими телами. Поверхность многих астероидов не ровная и однородная, а также покрыта слоем пыли.

    У этих объектов нет атмосферы, поэтому осадков на них не наблюдается. Температура многих астероидов около -100°C. Плотность колеблется от 1 до 3,5 г/см³ (у Земли 5 г/см³). Также из-за маленьких размеров объектов, у них небольшие значения ускорения свободного падения.</p>
    <img id='image_pages' src="{% static  'app/image/padenie_asteroida.jpg' %}" />
</div>
{% endblock %}