{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div id="text">
    <h1>Туманности</h1>
    <p>Туманность - участок пыли и газа в межзвёздной среде, выделяющийся своим излучением на общем фоне неба. Это одни из самых красивых и завораживающих объектов космоса.</p>
    <br>
    <h2>Описание и характеристика</h2>
    <p>Туманности состоят из водорода, гелия и прочих элементов. Все туманности имеют разную структуру, массу, плотность и размер, подробнее смотрите в "классификации".</p>
    <br>
    <h2>Классификация:</h2>
    <p>Есть всего 4 типа туманностей: диффузная, планетарная, отражательная, тёмная.</p>
    <p>Диффузные отражают свет из-за своей плотности, поэтому они очень яркие. Это довольно распространенный тип туманностей.</p>
    <p>Планетарная образуется при взрыве старой звезды. В центре этих туманностей располагается белый карлик. Планетарные туманности имеют округлую форму, но у некоторых объектов обнаружили сложное и необычное строение. Планетарные туманности горячие и не плотные, имеют средний размер в 1 св. год.</p>
    <p>Отражательная туманность светится из-за того, что отражает свет звезды находящейся около неё. Эти объекты имеют разную плотность, температуру, массу, структуру. Из-за их низкой яркости, данные туманности плохо изучены.</p>
    <p>Тёмные почти не видны, ведь поглощают почти весь свет из-за своей высокой плотности. Внутри них часто формируются звёзды. Тёмные туманности отличаются своими большими размерами, массой и очень низкой температурой. Их форма волокнистая и закрученная, не имеет ярко выраженных границ.</p>
    <br>
    <h2>Образование и развитие</h2>
    <p>Диффузные: сначала атомы притягиваются друг к другу, и чем больше их становится, тем выше их гравитационное влияние. Через миллионы лет образуется большое газопылевое облако, то есть туманность. Позже, когда у туманности будет большая масса и высокая гравитация, произойдёт термодинамическая реакция, из-за которой образуется звезда.</p>
    <p>Планетарные туманности появляются после взрыва старой звезды. Звезда выбрасывает большое количество пыли, газа, плазмы. Эти остатки гравитационно притягиваются и образуется туманность.</p>
    <img id='image_pages2' src="{% static  'app/image/nebula_page.jpg' %}" />
    <img id='image_pages2' src="{% static  'app/image/nebula_page1.jpeg' %}" />
</div>
{% endblock %}