{% extends 'app/base.html' %}

{% block content %}
<div id="text">
    <h1>Планеты</h1>
    <p>«Планета» в переводе с греческого языка означает «странствующая». Это название появилось в результате наблюдений за небесным сводом.
    <br><br>
    Древнегреческие ученые заметили, что большинство звезд не изменяет своего положения относительно друг друга, некоторые же из них постоянно странствуют по небосводу, оказываясь то в одном созвездии, то в другом. Эти блуждающие звезды получили название планет.
    <br><br>
    Невооруженным глазом можно увидеть только пять планет: Меркурий, Венеру, Марс, Юпитер и Сатурн. Планета Уран была открыта только после изобретения телескопа, в 1781 году.
    <br><br>
    Спустя 60 лет была обнаружена планета Нептун, причем ее орбита и другие характеристики вначале были рассчитаны теоретически, а затем немецкий астроном Галле смог увидеть ее с помощью мощного телескопа.
    <br><br>
    Последнюю из планет Солнечной системы, Плутон, смогли открыть только в 1930 году, хотя ее существование тоже было предсказано с помощью математических формул.
    <br><br>
    Сегодня астрономы так определяют, что такое планета: это небесное тело, которое имеет размер, достаточный для того, чтобы приобрести шарообразную форму за счет собственного тяготения, и вращается по устойчивой орбите вокруг звезды.
    <br><br>
    Планета может быть твердой или представлять собой газопылевое облако, но сама не служит источником термоядерной реакции, т.е. не излучает свет и тепло.
    </p>
    <br>
    <h2>Происхождение планет</h2>
    <p>Планеты, как и другие объекты во Вселенной берут свое начало в туманностях. Космические скопления газа и пыли, в отсутствии гравитационного влияния крупных объектов, стягиваются в гигантское облако. Диаметр его может иметь протяженность в сотни световых лет.
    <br><br>
    В центре газопылевого облака силы гравитации сильнее, чем на периферии. Именно здесь частички вещества сцепляются между собой. Этот процесс длится много лет, но в итоге, в центре появляется массивный объект. Достигнув определенного веса, он, под действием чудовищного давления, запускает в своих недрах термоядерные реакции. Так формируется звезда. Вещество, оставшееся после появления звезды начинает вращаться вокруг нее, принимая форму диска. Это образование называется протопланетным диском, из него и сформируются будущие планеты.
    <br><br>
    Состав веществ, входящих в протопланетный диск определяет типы планет, которые появятся в новой звездной системе. Рассмотрим все семь типов планет, известных науке на данный момент.
    </p>
    <br>
    <h2>Типы планет</h2>
    <ul>
        <li>1.Каменистые (скалистые) планеты: Каменистые, скалистые или теллурические планеты представляют собой твердые космические тела. Они состоят из горных пород. Обычно такие планеты имеют компактные размеры, высокую плотность, и находятся ближе к звезде. Скорее всего это обусловлено тем, что кучность и масса частиц в протопланетном диске растет от края к центру, соответственно, более тяжелые и твердые частицы находятся ближе всего к светилу. В нашей солнечной системе представлено сразу четыре каменистых планеты: Меркурий, Венера, Земля и Марс. Все они следуют за Солнцем, образуя типологическую группу планет.

        За пределами Солнечной системы тоже найдены каменистые планеты. Одна из них находится совсем близко. Она называется Проксима b, и вращается вокруг звезды — соседки Солнца - Проксимы Центавра.</li><br><br>
        <li>2.Газовые гиганты: Название типа этих планет полностью объясняет их сущность. В основном — это большие по объему и массе космические тела. Они полностью состоят из смеси газов, однако ядро газового гиганта может быть не газовым. Планеты этого типа не имеют твердой поверхности. В состав газовых гигантов входят водород и гелий, в соотношении 90 на 10 процентов. Также в составе есть незначительная примесь других веществ. Часто газовые гиганты окружены кольцами, состоящими из газа, пыли и ледяных глыб. У планет этого типа обычно много спутников, и некоторые из них могли бы претендовать на статус планеты, если бы вращались вокруг звезды.
        По предположениям ученых ядра планет-гигантов горячее, чем ядра каменистых планет. Для сравнения: ядро Земли имеет температуру 6700 градусов по Цельсию, а у газового гиганта ядро разогрето до 20000 градусов.

        Газовые гиганты намного массивнее каменистых планет, но традиционно имеют более низкую плотность. Примером этого может быть планета Сатурн, чья плотность в среднем ниже, чем у воды.

        На данный момент науке известно, что планеты типа газовый гигант по количеству превосходят планеты других типов. Однако, такое численное превосходство может объясняться тем, что большие планеты легче заметить на просторах Космоса.</li><br><br>
        <li>3.Ледяные гиганты: Ледяные гиганты уступают в размерах газовым гигантам. От предыдущей группы планет, эти космические тела отличаются прежде всего составом. Водород и гелий в составе ледяных гигантов занимают около десяти процентов, а большая часть состава представлена более тяжелыми химическими элементами, такими как: азот, кислород, углерод или сера. Так же как и газовые гиганты, ледяные гиганты не имеют каменистой поверхности.

        Нептун и Уран являются яркими представителями ледяных гигантов в Солнечной системе. Их плотность превосходит плотность газовых гигантов — Сатурна и Юпитера, но уступает плотности каменистых планет. Температура на поверхности газовых гигантов очень низкая, около -200 градусов по Цельсию. Поэтому даже такие соединения как аммиак и метан представлены на этих планетах в твердом агрегатном состоянии.</li><br><br>
        <li>4.Карликовые планеты: Карликовыми планетами называют тела, которые не удовлетворяют одному из признаков планет. В отличии от астероидов, карликовые планеты из-за низкой массы не могут очистить свою орбиту от других космических тел. В нашей Солнечной системе представителем таких объектов является Плутон. Долгое время он считался планетой. Плутон соответствует многим требованиям, позволяющим ему считаться планетой. Он имеет шарообразную форму, движется вокруг Солнца. Однако на орбите Плутона много более мелких объектов. Это и заставило астрофизиков признать Плутон карликовой планетой в 2006-м году.</li><br><br>
        <li>5.Планеты-океаны: В нашей Солнечной системе нет представителей этой группы планет. На самом деле планета-океан не состоит полностью из воды. Для того, чтобы войти в эту группу, поверхность планеты должна быть полностью покрыта водой. Планеты-океаны представляют огромный интерес с точки зрения поисков внеземной жизни, ведь вода — один из маркеров, определяющих, могут ли на планете существовать представители инопланетной флоры и фауны. К сожалению пока наша техника не способна напрямую идентифицировать планеты-океаны, и ученые находят их по косвенным признакам, таким как масса, плотность и состав атмосферы.</li><br><br>
        <li>6.Межзвездные планеты или блуждающие планеты: Планеты этого типа могут относиться к любой категории представленной выше. Их отличительный признак в том, что под действием каких-то катастрофических событий, представители класса блуждающих планет выбрасываются из своих звездных систем, и отправляются в «свободное плавание» по просторам Космоса. Иногда, они подходят близко к другой звезде, захватываются ее гравитацией и занимают свое место в новой системе. По одной из теорий, Юпитер мог являться раньше блуждающей планетой, однако был пойман гравитацией солнца и вошел в состав Солнечной системы.

        Вращаясь вокруг центра своей галактики, межзвездные планеты не получают тепла, из-за чего температура на них падает до абсолютного нуля.</li><br>

    </ul>
</div>
{% endblock %}