{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div id="text">
    <h1>Вселенная</h1>
    <p>Вселенная появилась миллиарды лет назад, и люди до сих пор не смогли доказать истинные причины ее образования. Она представляет собой все существующее пространство. Галактики, звезды, планеты – все это часть необъятной Вселенной.</p>
    <p>Вселенная постоянно меняется, что усложняет процесс ее исследования и составления описаний определенных ее частей. Но одно можно сказать точно: ее границы так так велики, что недоступны для изучения.</p>
    <br>
    <h2>Как возникла Вселенная</h2>
    <p>На данный момент теория Большого взрыва является наиболее логичным предположением о том, как возникла Вселенная. Она объясняет появление объектов, физических законов, материй и всего того, что находится в космосе.</p>
    <p>Предположительно, все началось с небольшой сингулярности огромной плотности, для которой не существовало времени. В определенный момент она начала расти с огромной скоростью, порождая пространство, физические законы, гравитацию и т.д. Долгое время температура внутри была настолько высокой, что образование каких-либо частиц было невозможным.</p>
    Через 380 тыс. лет она снизилась до 3000К, и тогда начали формироваться субатомные частицы, которым на смену вскоре пришли полноценные атомы. А через миллиарды лет из пылевых облаков они превратились в звезды, планеты, астероиды.</p>
    <br>
    <h2>Эволюция Вселенной</h2>
    <p>Спустя миллиарды лет, когда в пространстве появились атомы и молекулы, под действием гравитации они начали перемещаться относительно друг друга. Этот период ученые назвали Структурной Эпохой.</p>
    <p>Уже в первые мгновения после расширения, в пространстве появились простейшие частицы, имеющие световую природу. Примерно через год начинает появляться темная материя. А еще через 380 тыс. лет после снижения температур появляются молекулы, способные образовывать разные вещества.</p>
    <p>На данный момент Вселенной примерно 13,82 млрд. лет, и ее эволюция далека от завершения. Ученые не сомневаются, что галактики и общая карта пространства еще не раз поменяются, пока не придут к своей конечной форме.</p>
    <p>Доказательством того, что эволюция Вселенной еще далека от завершения, является реликтовое излучение. Если оно заметно на границах пространства, значит, еще не иссякла энергия, выделенная в момент Большого взрыва. Соответственно, космос продолжает расширяться.</p>
    <br>
    <h2>Форма вселенной</h2>
    <p>Утверждение того, что реликтовое излучение находится на самом краю Вселенной, довольно спорное. Доказано, что пространство расширяется быстрее скорости света, поэтому реальные края космоса уходят дальше мест, куда успела добраться световая энергия от Большого взрыва. По предварительным оценкам, сейчас размер Вселенной составляет примерно 91 миллиард световых лет, и это число постоянно растет.</p>
    <p>Ученые со всего мира пытаются определить точную структуру пространства вокруг. Совершенно ясно, что космос состоит из галактик, между которыми находится пустота, пылевые облака, скопления астероидов и прочие объекты. Однако какую он имеет форму и структуру?</p>
    <p>Вселенная подвластна четырем измерениям: координатам XYZ и времени. На основе этого ученые составили три варианта структур, которым может подчиняться пространство вокруг</p>
    <ul>
        <li>1.Открытая по форме похожа на седло и не имеет границ, такая структура не может растягиваться в пространстве бесконечно и должна обязательно остановиться;</li><br><br>
        <li>2.Плоская представляет собой квадрат, который может увеличиваться бесконечно;</li><br><br>
        <li>3.Закрытая похожа на замкнутую сферу, которая не может расти бесконечно, однако исследователи отмечают, что это может произойти через “неограниченное” количество времени.</li>
    </ul>
    <img id='image_pages6' src="{% static  'app/image/universe_page.jpg' %}" />
    <br>
    <h2>Будущее Вселенной</h2>
    <p>Если Вселенная имеет возраст, и миллиарды лет назад произошло ее рождение, то значит, наступит время, когда ее не станет. Еще с 90-х ученые, изучающие космос, пытаются прогнозировать его будущее и установить, что произойдет, когда он перестанет существовать.</p>
    <p>Все предположения строятся на обязательном условии, что теория Большого взрыва верна. Это дает начальные данные о вселенной, помогает построить представление об устройстве пространства и спрогнозировать, что произойдет дальше.</p>
    <p>Сейчас существует две теории будущего Вселенной</p>
    <ul>
        <li>1.Большое сжатие. После того, как пространство расширится до определенного размера, оно начнет сжиматься. Это возможно, если плотность пространства будет выше допустимого. Тогда границы Вселенной начнут уменьшаться, ровно как и расстояние между объектами. Процесс будет продолжаться до тех пор, пока она не превратится в небольшую сингулярность, существовавшую до Большого взрыва.</li><br><br>
        <li>2.Большое замораживание. Если плотность не привысит максимальную, то Вселенная продолжит расширяться до неограниченных размеров. Однако постепенно в ней израсходуется запас энергии и газа. Нейтронные звезды превратятся в черные дыры, остальные, потратив все тепло, станут белыми карликами. Постепенно температура в пространстве начнет падать, пока не установится на отметке абсолютного нуля.</li>
    </ul>
</div>
{% endblock %}